{% extends 'base.html.twig' %}

{% block title %} Ver_Usuarios {% endblock %}

{% block body %}
    {% for usuario in usuarios %}
    <li> {{ usuarios.nombre }} </li>
    {% endfor %}

     {% endblock %}

