{% extends 'base.html.twig' %}

{% block title %} Ver Usuarios {% endblock %}

{% block usuario_list %} active {% endblock %}

{% block body %}
    <h2>Lista de Usuarios </h2>
    {% for usuario in usuarios %}
        <li>{{ usuario.nombre }} - {{ usuario.email }}</li>
    {% endfor %}

{% endblock %}
