{% extends 'base.html.twig' %}

{% block title %} Lista de Usuarios {% endblock %}

{% block Usuario_menu %} {% endblock %}

{% block body %}

    <h1>Lista de Usuarios </h1>
    {% for usuario in usuarios %}
    <li> {{ usuario.nombre }} - &nbsp; {{ usuario.email }}</li>
    {% endfor %}

{% endblock %}


