{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}


{% block Ayuda %}active{% endblock %}

{% block slider %}
    {#<div class="slider">#}
        {#<div id="comslider_in_point_1721256"></div><script type="text/javascript">var oCOMScript1721256=document.createElement('script');oCOMScript1721256.src="https://commondatastorage.googleapis.com/comslider/target/users/1543466133xdd99eed3a5ddd0989011f4f994a11d95/comslider.js?timestamp=1543467930&ct="+Date.now();oCOMScript1721256.type='text/javascript';document.getElementsByTagName("head").item(0).appendChild(oCOMScript1721256);</script>#}
    {#</div>#}
{% endblock %}

{% block body %}{% endblock %}